* 
{
    margin: 0;
    padding: 0;
} 

body 
{
    /* background-image: url('bg.jpeg'); */
    /* background-size: cover;  */
    overflow: hidden;
    height: 100vh;
}

.taskbar 
{
    background-color: #f3f3f3;
    width: 100%; 
    position: absolute;
    bottom: 0;   /* en dono se nivhe aa jayega lakin center par nahi , so make it fkex box further*/
    display: flex;
    z-index: 110;  /* set it bez video ka z index badi ho gayi taskbar se and so clicker javasvript kaam nahi kar raha */
    justify-content: center;
     /* so that porre container me move karke center par a a sake */
      /* use colour picker  */
} 

.startmenu 
{
    position: absolute;
    /* bottom: 50px; */
    bottom: -900px;  /* isko ander bhejo de taskbnar ke */
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in;   /* now control bottom by javascript to control the animation*/
}

.startmenu img 
{
    border-radius: 12px;
}

.right 
{
    position: absolute;
    right: 0;
    margin: 6px 0;
    height: 85%; 
}
